---
# Configure iTerm2 - idempotent

- name: Check if iTerm2 is installed
  ansible.builtin.stat:
    path: /Applications/iTerm.app
  register: iterm_stat

- name: Configure iTerm2
  when: iterm_stat.stat.exists
  block:
    - name: Copy iTerm2 preferences
      ansible.builtin.copy:
        src: iterm2.plist
        dest: "{{ ansible_env.HOME }}/Library/Preferences/com.googlecode.iterm2.plist"
        mode: "0644"
        backup: true

    - name: Set iTerm2 to load preferences from custom location
      community.general.osx_defaults:
        domain: com.googlecode.iterm2
        key: PrefsCustomFolder
        type: string
        value: "{{ ansible_env.HOME }}/Library/Preferences"

    - name: Enable loading preferences from custom folder
      community.general.osx_defaults:
        domain: com.googlecode.iterm2
        key: LoadPrefsFromCustomFolder
        type: bool
        value: true
