# Environment variables

export EDITOR="nvim"
export VISUAL="$EDITOR"

export HISTSIZE=50000
export SAVEHIST=50000
export HISTFILE="$HOME/.zsh_history"

export LANG="en_US.UTF-8"
export LC_ALL="en_US.UTF-8"

# GitHub auth is handled by 'gh auth setup-git' which uses the credential helper
# Do NOT export GITHUB_TOKEN as it overrides the credential helper

{% if machine_type == 'work' %}
# Work-specific
# export HTTP_PROXY="http://proxy.company.com:8080"
{% endif %}
